<configuration>

    <property name="PATTERN"
              value="%cyan(%d{HH:mm:ss}) %highlight(%-5level) %green(%logger{36}) - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Hibernate SQL -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>

    <!-- Параметри -->
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>

    <!-- Hibernate внутрішні логи -->
    <logger name="org.hibernate" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>